# system
.DS_Store

# needed for stack
.stack-work/
*~
haskell-starter-kit.cabal

# Auth key
keys/*
!keys/.git-keep

# Local config
local.*.conf
local.conf
local.*
*.local
.env
migrations/liquibase.properties
